/* div{
    border: 1px solid black;
    margin: 2%;
} */
body{
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    border: 1px solid;
    display: inline-flex;
    justify-content: space-between;
    width: 97%;
    margin: 0rem;
    padding: 1.4rem;
    z-index: 2;
}
.logo{
    margin-left: 10%;
}
.navbar a{
    text-decoration: none;
    color: black;
}
.nav-btns{
    width: 40%;
    margin-right: 10%;
    /* border: 3px solid; */
    display: flex;
    justify-content: space-around;
}
.navlink{
    /* border: 2px solid; */
    display: flex;
    align-items: center;
}
.dropdown{
    margin-top: 3.45%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
}
.dropbtn{
    background: none;
    color: inherit;
    cursor: pointer;
    outline: inherit;
    border: none;
    margin: 0;
}
.dropdown-content{
    padding:0 ;
    /* border: 1px solid; */
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style-type: none;
    margin-left: 9%;
    margin-top: 2.5%;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 6px 10px;
    border-bottom: #d1d0d0 1px solid;
    text-decoration: none;
    display: block;
    text-align: left;
    /* border: 4px solid; */
  }

  /* navbar done */

  /* starting section 1 */

  .section1{
      display: flex;
      border: solid 1px black;
  }
  .left{
      z-index: 1;
      border: 1px solid;
      width: 38%;
      color: white;
      height: 700px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url(top-left-bg.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
  }
  #right{
      border: 1px solid;
      width: 78%;
      height: 100%;
  }

  .slide{
      animation-name: slideRightToLeft;
      animation-duration: 5s;
      animation-iteration-count: infinite;
  }

  .slideImg1{
    background-image: url(slide-01.jpg);
  }
  .slideImg2{
    background-image: url(slide-02.jpg);
  }
  .slideImg3{
    background-image: url(slide-03.jpg);
  }

  @keyframes slideRightToLeft {
    0% { transform: translateX(100%); }
    50% { transform: translateX(0%); }
    80% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

  /* section 1 completed and staring about section */

  .about{
      display: flex;
      padding-top: 6%;
  }
  .about-left{
      width: 50%;
      padding-left: 12.5%;
  }
  .about-us{
      /* border: solid 1px; */
      display: flex;
      font-size: 2vmin;
      font-weight: 500;
      align-items: center;
      color: rgb(252, 135, 93);
  }
  .heading h1{
      font-weight: 900;
  }
  .about .text-content{
      line-height: 1.55;
      font-size: 2vmin;
  }
  #rest-link{
      color: rgb(122, 122, 254);
  }
  .thumb{
      margin: 1.8%;
      width: 20vmin;
  }
  .about-right{
      width: 50%;
      padding-right: 6%;
  }
  .rest{
      height: 63vmin;
  }

  /* css for the our-menu section */

  .menu-section{
      /* border: solid; */
      margin: 20vmin 0vmin;
  }
  .menu-head{
      margin-left: 28vmin;
      margin-bottom: 5vmin;
  }
  .container{
      border: solid;
    display: flex;
    width: 240vmin;
    /* flex-wrap: wrap; */
  }
    .item{
        height: 53vmin;
        width: 35vmin;
        margin: 2vmin;
        border: solid;
    }

.card1
{
    background-image: url(https://templatemo.com/templates/templatemo_558_klassy_cafe/assets/images/menu-item-03.jpg);
}
.card2
{
    background-image: url(https://templatemo.com/templates/templatemo_558_klassy_cafe/assets/images/menu-item-01.jpg);
}
.card3
{
    background-image: url(https://templatemo.com/templates/templatemo_558_klassy_cafe/assets/images/menu-item-02.jpg);
}
.card4
{
    background-image: url(https://templatemo.com/templates/templatemo_558_klassy_cafe/assets/images/menu-item-01.jpg);
}
.card5
{
   background-image: url(https://templatemo.com/templates/templatemo_558_klassy_cafe/assets/images/menu-item-04.jpg);
}
.card6
{
   background-image: url(https://templatemo.com/templates/templatemo_558_klassy_cafe/assets/images/menu-item-05.jpg);
}

@keyframes leftToRight {
    0% { transform: translateX(0vmin); }
    /* 20% { transform: translateX(20%); }
    40% { transform: translateX(40%); }
    60% { transform: translateX(60%); } */
    100% { transform: translateX(40vmin); }
}

@keyframes rightToLeft {
    0% { transform: translateX(0%); }
    50% { transform: translateX(20%); }
    80% { transform: translateX(40%); }
    100% { transform: translateX(60%); }
    80% { transform: translateX(80%); }
}








  .chefs{
    padding-top: 7.5%;
    padding-bottom: 2.5%;
    text-align: center;
  }
  h1{
    font-size: 15px;
    color: #fb5849;
  }
  p{
    font-size: 30px;
    color: #2a2a2a;
  }
  .wrapper {
    padding: 0px 100px;
    min-height: 60vh;
    display: grid;
    place-items: center;
    gap: 10px;
  }
  .container {
    height: 300px;
    width: 300px;
    padding: 1rem;
    padding-bottom: 50px;
    position: relative;
    background: linear-gradient(#ffffff 50%, #ffffff 50%) 0 100% no-repeat;
    border:#2a2a2a solid 1px;
    background-size: 100% 200%;
    transition: 0.7s;
    overflow: hidden;

  }
  .img-wrapper {
    height: 90%;
    width: 100%;
    position: relative;
  }
  .container img {
    width: 100%;
    height:100%;
  }
  .container:hover {
    background-position: 0 0;
  }
  .details {
    position: absolute;
    opacity: 0.5;
    color: #ffffff;
    width: 80%;
    text-align: center;
    padding: 10px 0;
    bottom: -100px;
    margin: auto;
    left: 0;
    right: 0;
    transition: 0s;
  }
  .name
  {
    text-align: center;
  }
  h3,
  h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }
  h3 {
    letter-spacing: 1px;
    font-size: 20px;
  }
  h5 {
    font-size: 12px;
  }
  .social-icons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0px 0 0px 0;
  }
  a {
    width: 40px;
    height: 40px;
    background-color: #fff;
    color: #2a2a2a;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    transition: all .5s;
}
  .container:hover .details {
    bottom: 30px;
    border-color: #fb5849;
  }
  .img-wrapper:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #000000;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.7s;
  }
  .container:hover .img-wrapper:after {
    opacity: 0.85;
  }
  .container:hover .social-icons{
    transform: translate(0px,-350%);
  }
  i:hover {
    color:#fb5849;
    cursor: pointer;
  }
  @media screen and (min-width: 992px) {
    .wrapper {
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
    }
    .container {
      height: 400px;
      width: 350px;
      padding: 7px;
      padding-bottom: 40px;
    }
    .container:hover  {
    border-color: #fb5849;
    color: #fb5849;
  }
  }

